<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ca2af0b360.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/stylesheet/books.scss" />
    <title>Bookers1</title>
  </head>
  <body>
    <h1>Books</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <% @books.each do |book| %>
      <tbody>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.body %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
    
    <h1>New Book</h1>

    <%= form_with model: @book, url: '/books', method: :post do |f| %>
    
      <h4>Title</h4>
      <%= f.text_field :title %>
      
      <h4>body</h4>
      <%= f.text_area :body %><br>
      
      <%= f.submit 'Create Book' %>
      
    <% end %>
    
  </body>
</html>
